#header{
    height: 50px;
    background: #10284E;
    color: aliceblue;
}

#branding h1{
    color: #fff;
}

a:link,
a:visited{
    color: #10284E;
}

div.breadcrumbs{
    background: #30caa0;
}

div.breadcrumbs a {
    color: #000;
}

.module h2, .module caption, .inline-group h2 z{
    background: #30caa0;
}